= button_tag type: :submit, class: "btn btn-success" do
  %i.icon-white.icon-ok
  Save
= button_tag type: :reset, class: "btn btn-danger" do
  %i.icon-white.icon-remove
  Reset
= back_to_record(section)
