%ul{class: "toc #{list_class}"}
  - list.each do |item|
    %li
      = link_to_item(item)
      - children = item.children rescue nil
      - if children && children.any?
        = link_to "#", class: "btn btn-primary toggle-children" do
          %i.icon-plus.icon-white
        = render "list", list: children, list_class: "children"
