%h1 Table of Contents

- if @chapters.any?
  %ul.toc
    - @chapters.each do |chapter|
      %li
        = link_to chapter.name, chapter
        - if chapter.families.any?
          %ul
            - chapter.families.each do |family|
              %li
                = link_to family.name, family_path(family)
                - if family.molecules.any?
                  %ul
                    - family.molecules.each do |molecule|
                      %li= link_to molecule.name, molecule_path(molecule)
- else
  %h2 No chapters, yet.

= link_if_can nil, :new, Chapter
