.fields
  //background-color: #fff
  margin-bottom: 10px
  position: relative
  +border-radius(3px)
  padding: 10px 0
  .remove_fields
    position: absolute
    top: 5px
    right: 5px

.add_fields
  margin-left: 160px

.table td.measure_name
  padding-left: 30px
