.toc
  +no-bullets
.toc li
  line-height: 32px
  border-bottom: 1px dotted white
.toggle-children
  position: absolute
  right: 500px
ul.children
  display: none
.description
  margin-top: 10px
  p
    font-size: 16px
.breadcrumb
  li
    span.divider
      width: auto
